{% extends "layout.html" %}

{% block content %}

<h2>Prebuilt Properties</h2>

<form action="{{ url_for('tab1') }}" method=POST>

<input type="radio" name="vehicle" value="1">	A_Caco2_I<br>

<input type="radio" name="vehicle" value="2">	A_HIA_I<br>

<input type="radio" name="vehicle" value="3">	M_CYP1A2I_I<br>

<input type="radio" name="vehicle" value="4">	M_CYP2C9I_I<br>

<input type="radio" name="vehicle" value="5">	M_CYP2C19I_I<br>

<input type="radio" name="vehicle" value="6">	M_CYP2D6I_I<br>

<input type="radio" name="vehicle" value="7">	M_CYP3A4I_I<br>

<input type="radio" name="vehicle" value="8">	R_A_Caco2_I<br>

<input type="radio" name="vehicle" value="9">	T_Carc_I<br>

<input type="radio" name="vehicle" value="10">	T_FHMT_I<br>

<input type="radio" name="vehicle" value="11">	T_HBT_I<br>

<input type="radio" name="vehicle" value="12">	T_hERG_I<br>

<input type="radio" name="vehicle" value="13">	T_hERG_II<br>

<input type="radio" name="vehicle" value="14">	T_TPT_I<br>

<input type="radio" name="vehicle" value="15">	WS_RM<br>

<input type="radio" name="vehicle" value="16">	LC_Cat_Toxicology<br>

<input type="radio" name="vehicle" value="17">	LC_Dog_Toxicology<br>

<input type="radio" name="vehicle" value="18">	LC_GuineaPig_Toxicology<br>

<input type="radio" name="vehicle" value="19">	LC_Mammal_Toxicology<br>

<input type="radio" name="vehicle" value="20">	LC_Monkey_Toxicology<br>

<input type="radio" name="vehicle" value="21">	LC_Mouse_Toxicology<br>

<input type="radio" name="vehicle" value="22">	LC_Rabbit_Toxicology<br>

<input type="radio" name="vehicle" value="23">	LC_Rat_Toxicology<br>

<input type="radio" name="vehicle" value="24">	LC50_Cat_Toxicology<br>

<input type="radio" name="vehicle" value="25">	LC50_Dog_Toxicology<br>

<input type="radio" name="vehicle" value="26">	LC50_GuineaPig_Toxicology<br>

<input type="radio" name="vehicle" value="27">	LC50_Hamster_Toxicology<br>

<input type="radio" name="vehicle" value="28">	LC50_Mammal_Toxicology<br>

<input type="radio" name="vehicle" value="29">	LC50_Monkey_Toxicology<br>

<input type="radio" name="vehicle" value="30">	LC50_Mouse_Toxicology<br>

<input type="radio" name="vehicle" value="31">	LC50_Rabbit_Toxicology<br>

<input type="radio" name="vehicle" value="32">	LC50_Rat_Toxicology<br>

<input type="radio" name="vehicle" value="33">	LD10_Mouse_Toxicology<br>

<input type="radio" name="vehicle" value="34">	LD30_Mouse_Toxicology<br>

<input type="radio" name="vehicle" value="35">	TCLo_Human_Toxicology<br>

<input type="radio" name="vehicle" value="36">	TCLo_Man_Toxicology<br>

<input type="radio" name="vehicle" value="37">	TCLo_Women_Toxicology<br>

<input type="radio" name="vehicle" value="38">	TDLo_Child_Toxicology<br>

<input type="radio" name="vehicle" value="39">	TDLo_Human_Toxicology<br>

<input type="radio" name="vehicle" value="40">	TDLo_Infant_Toxicology<br>

<input type="radio" name="vehicle" value="41">	TDLo_Man_Toxicology<br>

<input type="radio" name="vehicle" value="42">	TDLo_Women_Toxicology<br>

<br><input type="submit" value="Submit"><br>

</form>

{% endblock %}
